@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
code {
  font-family: Menlo, Monaco, monospace, "Lucida Console";
  font-size: 85%;
}
