@font-face {
  font-family: 'Ubuntu Mono derivative Powerline';
  src: url('Ubuntu Mono derivative Powerline.ttf');
  src: local('Ubuntu Mono derivative Powerline'),
              local('Ubuntu Mono derivative Powerline'),
              url('Ubuntu Mono derivative Powerline.woff') format('woff'),
              url('Ubuntu Mono derivative Powerline.ttf') format('truetype'),
              url('Ubuntu Mono derivative Powerline.svg#Ubuntu Mono derivative Powerline') format('svg');
}
body {
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
code {
  font-family: Menlo, Monaco, monospace, "Lucida Console";
  font-size: 85%;
}
