:root {
	--color: #213456; /*mainBlue*/
	--color-dark: #1f2f52; /*darkBlue*/
	--color-light: #ccc; /*sand*/
	--color-lite: #F9F9F9;
}

body {
	margin: 0;
	/*height: 100vh;*/
	display: flex;
	flex-direction: column;

}

#space {
	flex: auto;
}

blockquote {
	font-style: oblique;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

/***** Header and Footer *****/
header,
footer {
	width:100%;
}

header {
	font-family: 'Oswald', sans-serif;
	font-size:3.5vmin;
	background: var(--color);
}


footer {
	font-size: .6rem;
	text-align: center;
	padding: 8px 0px;
}

img[alt="Imgur"] {
  max-width:  60vw;
  display: block;
}

.breadcrumb {
	display: flex;
	line-height: 2;
	padding: 0px 16px;
}

.breadcrumb a {
	color: var(--color-lite);
	margin-left: 16px;
	margin-top: auto;
}

.breadcrumb h4 {
	margin: unset;
	text-indent: -1rem;
}

/****************************/

/**** Background color by class name ****/

.grape {
	background: var(--color);
	color: var(--color-light);
}

.sand {
	position: relative;
	background: var(--color-light);
	color: var(--color-dark);
}

.white {
	position: relative;
	background: var(--color-light);
	color: var(--color-dark);
}

/***************************************/

/**** Position and size elements ****/
@keyframes blink{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }

}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
main .cursor{
	animation: blink 1s linear infinite;
    /* 其它浏览器兼容性前缀 */
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;

}

#about,#recent-posts,#post{
	flex: auto;
	display: flex;
}

#posts,
#collections {
	flex: auto;
	display:table;
	height: 100vh;
	min-width: 100vw;
}


#about,
#collections {
	font-family: 'PT Serif', serif;
	text-align: center;
}

.container {
	padding-bottom: 50px;
	margin: 32px auto;
	width: 72%;
}

.avatar {
	margin: 32px auto 0;
	width: 160px;
}

.avatar > img {
	border-radius: 50%;
	width: 100%
}

/***********************************/
/**** Posts div styling ****/

#posts li p {
	height: 100%;
	font-size: .90em;
	margin-top: .25rem;
	margin-bottom: 0rem;
}

#posts li a {
	font-size: 1.2em;
}

#posts ul p{
	display:block;
   	max-width:72vw;
   	overflow:hidden;
   	text-overflow: ellipsis;
  	display: -webkit-box;
 	-webkit-box-orient: vertical;
   	-webkit-line-clamp: 3
}

/*********************************/

.grape li,
.sand li {
	margin-top: 1.25rem;
}

#groups {
	display: flex;
}

#groups li {
	margin: 1rem;
}

a {
	text-decoration: none;
}

.grape a {
	color: var(--color-lite);
}

.grape a:hover {
	color: var(--color-light);
}

.sand a {
	color: var(--color-dark);
	font-weight: bold;
}

.sand a:hover {
	color: var(--color);
}
/****************************/

/***** Content Styling *****/

#title {
	text-align: left;
	padding-bottom: 16px;
}

#title time {
	color: var(--color);
}

#title h1 {
	margin: 0px;
}

.white a {
	color: #266fe8; /*urlBlue*/
}

.white a:hover {
	color: var(--color);
}
